{% extends 'base.html.twig' %}

{% block title %}Hello DatosController!{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header border-0 pt-6">
            <div class="card-title w-100">
                <div class="row w-100">
                    <div class="col-8">
                        <h3>Filtrar por:</h3>
                    </div>
                    <div class="col-4" style="text-align: right">
                        <button type="button" class="btn btn btn-light" data-action="loadDato">
                        <span class="svg-icon svg-icon-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2"
                                      rx="1" transform="rotate(-90 11.364 20.364)"
                                      fill="black"></rect>
                                <rect x="4.36396" y="11.364" width="16" height="2" rx="1"
                                      fill="black"></rect>
                            </svg>
                        </span>Agregar
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-toolbar w-100">
                <form id="form_search_datos" class="w-100">
                    <div class="row w-100">
                        <div class="col-sm-3 mb-5">
                            <label class="fw-bold fs-6 mb-2">Nombre</label>
                            <input type="text" name="nombre" size="10"
                                   class="form-control form-control-solid mb-3 mb-md-0"
                                   data-action="enterFindNombre">
                        </div>
                        <div class="col-sm-3 mb-5">
                            <label class="fw-bold fs-6 mb-2">Apellido</label>
                            <input type="text" name="apellido" class="form-control form-control-solid mb-3 mb-lg-0"
                                   data-action="enterFindApellido">
                        </div>
                        <div class="col-2 mb-5">
                            <label class="fw-bold fs-6 mb-2">Sexo</label>
                            <select class="form-control form-control-solid" name="sexo"
                                    data-action="selectFindSexo">
                                <option value="-1">Todos</option>
                                <option value="m">Masculino</option>
                                <option value="f">Femenino</option>
                                <option value="n">Otros</option>
                            </select>
                        </div>
                        <div class="col-sm-2 mb-5">
                            <label class="fw-bold fs-6 mb-2">Estado</label>
                            <select class="form-control form-control-solid" name="activo"
                                    data-action="selectFindDato">
                                <option value="2">Todos</option>
                                <option value="1">Activos</option>
                                <option value="0">Inactivos</option>
                            </select>
                        </div>

                        <div class="col-2 mb-5 d-flex align-items-end">
                            <button type="button" class="btn btn-icon btn-primary mt-8" data-action="findDatos">
                                <i class="bi bi-search"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                                     viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-body pt-0">
            <div id="container_datos" class="card"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/datos.js?556655ff55') }}"></script>
{% endblock %}
